<div class="panel panel-default">
    <div class="panel-heading">New Topic</div>
    <div class="panel-body">
        <%= form_for(:topic, :url => topics_path, :method => :post) do |f| %>
            <%= f.text_area :content, class: ['form-control'] %>
            <%= f.submit class: ['form-control'] %>
        <% end %>
    </div>
</div>