// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topics-table {
    width: 100%;

    tr {
        vertical-align: top;
    }

    td {
        padding: 20px;
    }
}

.topic-content {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.score-container {
    text-align: center;
    width: 100px;

    .vote-button {
        color: black;
        text-decoration: none;
        
        &:hover {
            color: red;
            cursor: pointer;
        }
    }

    .vote-button, .score {
        display: block;
    }
}